/*
  Geckoboard Custom CSS
  ===

  This stylesheet allows you to quickly customise parts of your awesome
  Geckoboard dashboards.

*/
/*
  Dashboard styles
  ---
  There isn't much to the dashboard, it's just a place for widgets. You can
  change the background color and add a background image here though
*/
body {
  background: #101214; }

/*
  Widget styles
  ---
  The variables below dictate the colour of the widget elements
*/
/*
  The anatomy of the widget in it's basic form is shown below, you can target
  the individual widgets using the id which carries the unique id of each
  widget shown here as `widget-{{id}}` where id is the numeric id of the widget
  (`widget-12345` for example)

      <article class="widget" id="widget-{{id}}">
        <div class="widget-inner widget-size-1x1">
          <section class="widget-body clock-widget no-title">
            <div class="widget-canvas"></div>
          </section>
          <footer></footer>
        </div>
      </article>
*/
.widget .widget-inner {
  background-color: #2a2a2a; }
  .widget .widget-inner > header {
    background-color: #272727; }
    .widget .widget-inner > header h1 {
      color: #8b8b8b; }
  .widget .widget-inner > footer {
    color: #555555;
    background-color: #1f1f1f; }
.widget .widget-body {
  color: #d3d4d4;
  text-shadow: 1px 1px #0e0e0e; }
  .widget .widget-body .t-secondary {
    color: #818181; }
.widget .widget-actions a:hover {
  background-color: #050505; }

/*
  You can target widgets that belong to a paricular service using the service
  HTML class that is assigned to each widget. The class names are the lower
  case equivalent of the service title with all non alphanumeric characters,
  including spaces, replaced with a hyphen. For example Google Analytics
  widgets posess the `google-analytics` HTML class.

  If you wish to alter the styling for a particluar template type across all
  widgets you may target the canvas area of that widget type using the
  template type specific HTML class name. For example all types of bullet
  chart use the bullet template and can be targeted with
  `.bullet-widget .widget-canvas {}`
*/
/*
  Map styles
  ---

  Styling for the map points and countries
*/
.map-widget path {
  fill: #4a4a4a;
  stroke: #4a4a4a; }
.map-widget circle {
  fill: #38cdff; }
